* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}

.result {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #F6F6F6;
}

.score {
    display: flex;
    width: 25%;
    flex-direction: column;
    padding: 3rem 2rem;
    margin: 2rem;
    border: 10px solid #CFFFE2;
    border-radius: 10px;
}

.points {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 70px;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.choice {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.button {
    padding: 2rem 5rem 2rem 5rem;
}

.choice button {
    width: 150px;
    height: 75px;
    display: inline-block;
    border-radius: 10px;
    border: 3px solid #F6F6F6;
    background-color: #A2D5C6;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;  
    color: #000000;
    font-size: 25px;
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.6);
}

.choice button:hover {
    color: #F6F6F6;
    box-shadow: none;
}

.game {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #F6F6F6;
    font-size: 35px;
}

.play button {
    width: 350px;
    height: 90px;
    display: inline-block;
    border-radius: 10px;
    border: 3px solid #F6F6F6;
    background-color: #A2D5C6;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;  
    color: #000000;
    font-size: 30px;
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.6);
    
}

.play button:hover {
    color: #F6F6F6;
    box-shadow: none;
}

 .play {
    display: flex;
    justify-content: center;
 }